=form_for @forum do |f|
  %ul.form
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :info
      = f.text_area :info, :rows => 4
    %li.ta-right
      = f.submit :class => "button"