=form_for @movie do |f|
  - if @movie.errors.any?
    %ul
      - @movie.errors.full_messages.each do |msg|
        %li= msg
  .form
    = f.label :title
    = f.text_field :title
    = f.label :plot
    = f.text_area :plot, :rows => 10
    = f.label :poster_id
    = f.text_field :poster_id
    = f.label :trailer_url
    = f.text_field :trailer_url
    .ta-right
      = f.submit :class => "button"