%article
  .main
    %header
      %small
        - if authorized?(@movie.user)
          = link_to t("links.edit"), edit_movie_path(@movie)
          %span= "|"
          = link_to t("links.delete"), @movie, method: :delete, confirm: t("messages.confirm_delete")
        -else
          = @movie.user.name
      %h3= link_to @movie.title, @movie.tmdb_url
    %section.clearfix
      - unless @movie.poster_id.blank?
        .thumb= link_to image_tag("http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w185/" + @movie.poster_id + ".jpg"), "http://d3gtl9l2a4fn1j.cloudfront.net/t/p/w500/" + @movie.poster_id + ".jpg"
      %p.plot= @movie.plot
      - unless @movie.trailer_url.blank?
        %p= link_to "Trailer", @movie.trailer_url
