%article
  .date
    %p= l event.datetime, format: :custom
  .main.btlr0
    %header.no-bs
      %small
        - if authorized?(event.user)
          = link_to t("links.edit"), edit_event_path(event)
          %span= "|"
          = link_to t("links.delete"), event, method: :delete, confirm: t("messages.confirm_delete")
        -else
          = event.user.name
      %h3= link_to event.title, event
    %section
      = markdown(event.info)
      - if event.members.count > 0
        %h4
          = event.members.count
          = "Teilnehmer:"
        .member-list= render event.members
    %footer.ta-right
      - if exist?(event.id)
        = link_to t("links.leave"), event_member_path(event, event.id), method: :delete, :class => "button"
      - else
        = link_to t("links.join"), event_members_path(event), method: :post, :class => "button"