=form_for @event do |f|
  - if @event.errors.any?
    %ul
      - @event.errors.full_messages.each do |msg|
        %li= msg
  %ul.form
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :datetime, t("text.time")
      = f.time_select :datetime, :minute_step => 15
    %li
      = f.label :datetime, t("text.date")
      = f.date_select :datetime, :start_year => Time.now.year, :end_year => Time.now.year + 1
    %li
      = f.label :info
      = f.text_area :info, :rows => 4
    %li.ta-right
      = f.submit :class => "button"