=form_for @poll do |f|
  - if @poll.errors.any?
    %ul
      - @poll.errors.full_messages.each do |msg|
        %li= msg
  %ul.form
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :info
      = f.text_area :info, :rows => 4
    = f.fields_for :selections do |selection_form|
      = render 'selection', f: selection_form
    %li.ta-right
      = f.submit :class => "button"