%article
  .main
    %header
      %small
        - if authorized?(post.user)
          = link_to t("links.edit"), edit_polymorphic_path([post.postable, post])
          = link_to t("links.delete"), polymorphic_path([post.postable, post]), method: :delete, confirm: t("messages.confirm_delete")
      = link_to post.user.name, user_path(post.user)
      %span.postable
        = "-"
        = link_to post.postable.title, polymorphic_path(post.postable)
    %section
      = markdown(post.content)