%article
  .main
    %header
      %small
        - if current_user.id == post.user.id
          = link_to t("links.edit"), edit_polymorphic_path([post.postable, post])
          = link_to t("links.delete"), polymorphic_path([post.postable, post]), method: :delete, confirm: t("messages.confirm_delete")
      %h3
        = link_to post.user.name, user_path(post.user)
        %span
          = "-"
          = link_to post.postable.title, polymorphic_path(post.postable)
    %section
      %p= post.content
    %footer