!!!
%html
  %head
    %title CK
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  %body
    #head
      %nav
        %h1= link_to "Couchkissen", root_path
        .btn-grp
          = link_to "", events_path, class: "btn", data: { icon: "\ue000" }
          = link_to "", new_event_path, class: "btn", data: { icon: "\ue008" }
        .btn-grp
          = link_to "", forums_path, class: "btn", data: { icon: "\ue001" }
          = link_to "", new_forum_path, class: "btn", data: { icon: "\ue008" }
        .btn-grp
          = link_to "", movies_path, class: "btn", data: { icon: "\ue002" }
          = link_to "", new_movie_path, class: "btn", data: { icon: "\ue008" }
        .btn-grp
          = link_to "", videos_path, class: "btn", data: { icon: "\ue004" }
          = link_to "", new_video_path, class: "btn", data: { icon: "\ue008" }
        .btn-grp
          = link_to "", users_path, class: "btn", data: { icon: "\ue005" }
          = link_to "", account_path, class: "btn", data: { icon: "\ue006" }
        .btn-single
          = link_to "", logout_path, class: "btn", data: { icon: "\ue007" }
    = yield
