!!!
%html
  %head
    %title CK
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  %body
    #head
      %nav
        = link_to "Couchkissen", root_path, id: "heading"
        .btn-single.pos-rel.dropdown
          %span.btn{ data: { icon: "\ue000" } }
          .sub-nav
            .btn-grp
              = link_to "", new_event_path, class: "btn", data: { icon: "\ue001" }, title: "Neues Event"
              = link_to "", new_poll_path, class: "btn", data: { icon: "\ue006" }, title: "Neue Abstimmung"
            .btn-grp
              = link_to "", new_forum_path, class: "btn", data: { icon: "\ue003" }, title: "Neues Thema"
              = link_to "", new_article_path, class: "btn", data: { icon: "\ue007" }, title: "Neuer Artikel"
            .btn-grp
              = link_to "", new_movie_path, class: "btn", data: { icon: "\ue004" }, title: "Neuer Film"
              = link_to "", new_video_path, class: "btn", data: { icon: "\ue005" }, title: "Neues Video"
        .btn-grp
          = link_to "", events_path, class: "btn", data: { icon: "\ue001" }, title: "Events"
          = link_to "", events_archive_path, class: "btn", data: { icon: "\ue002" }, title: "Vergangene Events"
        .btn-grp
          = link_to "", forums_path, class: "btn", data: { icon: "\ue003" }, title: "Forum"
          = link_to "", articles_path, class: "btn", data: { icon: "\ue007" }, title: "Artikel"
          = link_to "", polls_path, class: "btn", data: { icon: "\ue006" }, title: "Abstimmungen"
        .btn-grp
          = link_to "", movies_path, class: "btn", data: { icon: "\ue004" }, title: "Filme"
          = link_to "", videos_path, class: "btn", data: { icon: "\ue005" }, title: "Videos"
        .btn-grp
          = link_to "", users_path, class: "btn", data: { icon: "\ue008" }, title: "Profile"
          = link_to "", account_path, class: "btn", data: { icon: "\ue009" }, title: "Mein Profil"
          = link_to "", logout_path, class: "btn", data: { icon: "\ue00a" }, title: "Abmelden"
    = yield
