!!!
%html
  %head
    %title CK
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1.0'}
  %body
    #head
      %nav
        %h1= link_to "Couchkissen", root_path
        .btn-grp
          = link_to "Events", events_path, class: "btn"
          = link_to "+", new_event_path, class: "btn"
        .btn-grp
          = link_to "Forum", forums_path, class: "btn"
          = link_to "+", new_forum_path, class: "btn"
        .btn-grp
          = link_to "Filme", root_path, class: "btn"
          = link_to "+", root_path, class: "btn"
        .btn-grp
          = link_to "Videos", videos_path, class: "btn"
          = link_to "+", new_video_path, class: "btn"
        .btn-grp
          = link_to "Profile", users_path, class: "btn"
          = link_to "Mein Profil", account_path, class: "btn"
    = yield
    %script document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35729/livereload.js?snipver=1"></' + 'script>')